<br/>
<div class="container">
  <div class="row">
    <h2>{{data.name}} ({{data.ticker}})</h2>
    <p><span class="text-muted">Share Price:</span> ${{data.price}}    <span class="text-muted">Market Cap: </span>${{data.marketCap}}M</p>
    <p><span class="text-muted">Trailing PE: </span> {{data.trailingPE}}x    <span class="text-muted">Forward PE: </span> {{data.forwardPE}}x</p>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Financial Reports</h4>
      <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
        {{#each data.financialFilings}}
          <a target="_blank" href="../view/{{../data.cik}}/{{this.accessionNumber}}/{{this.primaryDocument}}" style="text-decoration: none;">
            <li target="_blank" class="list-group-item d-flex justify-content-between align-items-center">
              <b>{{this.form}}</b> {{this.reportDate}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
    <div class="col-6">
      <h4>News Releases</h4>
      <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
        {{#each data.newsFilings}}
          <a target="_blank" href="../view/{{../data.cik}}/{{this.accessionNumber}}/{{this.primaryDocument}}" style="text-decoration: none;">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>{{this.form}}</b> {{this.reportDate}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
