<h2>{{data.name}} ({{data.ticker}})</h2>
<p><span class="text-muted">Share Price:</span> ${{data.price}}    <span class="text-muted">Market Cap: </span>${{data.marketCap}}M</p>

<div class="list-group">
  {{!-- <a href="#" class="list-group-item list-group-item-action active">
  </a> --}}
     <ul class="list-group">
      {{#each data.filings}}
          {{!-- <li>{{this.url}}</li> --}}
          
          <li class="list-group-item d-flex justify-content-between align-items-center">
              {{this.form}} ({{this.reportDate}})
          </li>
          
        {{/each}}
     </ul>
</div>