<br/>
<div class="container">
  <div class="row">
    <h2>{{data.name}} ({{data.ticker}})</h2>
    <span>
      <title>{{data.ticker}} - Smart Filings</title>
    <p style="display: inline;" class="text-muted">Relevant Links: </p>
    <a href="https://www.sec.gov/edgar/browse/?CIK={{data.cik}}&owner=exclude" target="_blank" style="display: inline;">EDGAR Page</a>
    <a href="https://finance.yahoo.com/quote/{{data.ticker}}/" target="_blank" style="display: inline; margin-left: 10px;">Yahoo Finance</a>
    </span>
    <span>
    <p style="display: inline;"><span class="text-muted" style="display: inline;">Share Price:</span> ${{data.price}}</p>
    <p style="display: inline; margin-left: 10px;"><span class="text-muted">Market Cap: </span>${{data.marketCap}}M</p>
    </span>
    <span>
    <p style="display: inline;"><span class="text-muted">Trailing PE: </span> {{data.trailingPE}}x</p>
    <p style="display: inline; margin-left: 10px;"><span class="text-muted">Forward PE: </span> {{data.forwardPE}}x</p>
    </span>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Financial Reports</h4>
      <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
        {{#each data.financialFilings}}
          <a target="_blank" href="../view/{{../data.ticker}}/{{../data.cik}}/{{this.accessionNumber}}/{{this.primaryDocument}}" style="text-decoration: none;">
            <li target="_blank" class="list-group-item d-flex justify-content-between align-items-center">
              <b>{{this.form}}</b> {{this.reportDate}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
    <div class="col-6">
      <h4>News Releases</h4>
      <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
        {{#each data.newsFilings}}
          <a target="_blank" href="../view/{{../data.ticker}}/{{../data.cik}}/{{this.accessionNumber}}/{{this.primaryDocument}}" style="text-decoration: none;">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <b>{{this.form}}</b> {{this.reportDate}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col">
      <h4>Recent Headlines</h4>
      <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
        {{#each data.yahooNews}}
            <a target="_blank" href="{{this.link}}" style="text-decoration: none;">
              <li class="list-group-item d-flex flex-column">
    <div class="d-flex justify-content-between w-100">
        <b>{{this.title}}</b> {{this.providerPublishTime}}
    </div>
    <p class="text-muted fst-italic small mb-0">{{this.publisher}}</p>
</li>

            </a>
        {{/each}}
      </ul>
      </div>
  </div>
</div>
